@font-face {
  font-family: "myFont";
   src: url('Nimbus-Sans.woff') format('woff');
}

body{
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: myFont;
  background-color: #000000;
  overflow-x: hidden;
  color: #FFFFFF;
}
p{
  vertical-align: bottom;
  margin: 0px;
  padding: 0px;
  font-size: 1.5vw;
}
h1{
  margin: 0px;
  padding: 0px;
  font-size: 28vw;
}
#mainContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 10vw;
  margin-right: 10vw;

}
#topRow{
  width: 100%;
  height: 23vw;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#painted{
  padding-top: 18vw;
  display: flex;
}
#do{
  display: flex;
}
#rowTwo{
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height:20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
#som{
  display: flex;
}
#rowThree{
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height:20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
#twisting{
  padding-bottom: 1vw;
  padding-right: 4vw;
}
#rowFour{
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height:11vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
#rowFive{
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height:20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
#photograph{
  padding-top: 13vw;
  padding-right: 8vw;
}
#rowSix{
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height:20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
#witness{
  padding-bottom: 9vw;
}
#rowSeven{
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height:8vw;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
}
#sinking{
  padding-right: 5vw;
}
#footer{
  padding-top: 2vw;
  padding-bottom: 1vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: .5em;
  justify-content: flex-end;
}
